
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alata/v2/PbytFmztEwbIoce9zqYzQ1OW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    box-sizing: border-box;
}

/* Colors */

:root {
    --primaryDark: #041D38;
    --primaryLight: #FFFFFF;
    --primaryBrand: #1BB0CC;
    --primaryAccent: #C0E1E6;
    --primaryBright: #FF5A00;
    --secondaryDark: #6F7A86;
    --secondaryMid: #BBC4CE;
    --secondaryLight: #E4E7EB;
}

/* Typography */

body {
    font-family: 'Alata', 'Futura', sans-serif;
    font-weight: 300;
}

h1 {
    font-size:56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22px;
    text-transform: uppercase;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

/* Sections */

footer {
    background-color:var(--secondaryDark);
    height: 800px;
    width: 100%;
    position:relative;
    display: block;
}

.footer p {
    color: var(--primaryLight);
    font-size: 14px;
    text-transform: uppercase;
}

/* Menu */

.menu {
    background-color: var(--primaryLight);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    position: fixed;
}

.menu a {
    float: left;
    display: block;
    color: var(--primaryDark);
    text-align: center;
    padding: 0px 40px;
    line-height: 80px;
    text-decoration: none;
}

/* Global */
.button {
    height: 60px;
    width: 240px;
    background-color: var(--primaryLight);
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    line-height: 60px;
    text-align: center;
    justify-content: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

.button a {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primaryDark);
}

.spacer1 {
    margin: 0 auto;
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
}

.spacer2 {
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
}

.spacer3 {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
}

.spacer4 {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
}

/* Main Opener */

.containerMain {
    margin: 0 auto;
    padding-top: 150px;
    height: 540px;
    /*width: 1280px;*/
    /*height: 55%;*/
    width: 100%;
    color: var(--primaryLight);
    text-align: center;
    position:relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("https://images.unsplash.com/photo-1561130627-0456cca0bc4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2702&q=80");
    background-position: center;
    background-size: cover;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
}

/* Content Color Block */

.colorBlock {
    margin: 0 auto;
    padding-top: 80px;
    bottom: 80px; 
    height: 420px;
    width: 100%;
    background-color: var(--primaryAccent);
    overflow: hidden;
}

.colorBlock h1 {
    margin: 0 auto;
    margin-bottom: 34px;
    width: 80%;
    color: var(--primaryLight);
    text-align: center;
}

.colorBlock h6 {
    margin: 0 auto;
    width: 60%;
    max-height: 160px;
    color: var(--secondaryDark);
    text-align: center;
    overflow: scroll;
    margin-bottom: 80px;
}

/* Triple Content Boxes */

.boxTripleContainer {
    display: inline-flex;
    align-content: space-between;
    width: 100%;
    overflow-x: scroll;
}

.boxTriple {
    margin-left: 20px;
    margin-right: 20px;
    height: 540px;
    width: 400px;
    background-color: var(--primaryLight);
    /*filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));*/
    border: 1px solid var(--secondaryLight);
    position:relative;
}

.boxTriple img {
    height: 320px;
    width: 400px;
    padding: 40px 40px;
}

.boxTriple h4 {
    height: 36px;
    width: 400px;
    vertical-align: top;
    padding: 0px 40px;
    color: var(--primaryDark);
    text-align: left;
    position: relative;
}

.boxTriple h6 {
    width: 400px;
    padding: 0px 40px;
    color: var(--secondaryDark);
    text-align: left;
    position: relative;
    overflow: hidden;
}