
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alata/v2/PbytFmztEwbIoce9zqYzQ1OW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    box-sizing: border-box;
}

/* Colors */

:root {
    --primaryDark: #041D38;
    --primaryLight: #FFFFFF;
    --primaryBrand: #1BB0CC;
    --primaryAccent: #C0E1E6;
    --primaryBright: #FF5A00;
    --secondaryDark: #6F7A86;
    --secondaryMid: #BBC4CE;
    --secondaryLight: #E4E7EB;
}

/* Typography */

body {
    font-family: 'Alata', 'Futura', sans-serif;
    font-weight: normal;
}

h1 {
    font-size:56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.footer p {
    color: var(--primaryLight);
    font-size: 14px;
    text-transform: uppercase;
}

/* Sections */

footer {
    background-color:var(--secondaryDark);
    height: 800px;
    width: 100%;
    position:relative;
    display: block;
}

/* IDs */

#openingBanner {
    background-image: url("https://images.unsplash.com/photo-1561130627-0456cca0bc4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2702&q=80");
    background-position: center;
    background-size: cover;
    display: block;
}

/* Classes */

.menu {
    height: 80px;
    width: 1440px;
    justify-content: center;
}

/* Main Opener */

div .containerMain {
    height: 540px;
    width: 1280px;
    position: relative;
    justify-content: center;
  }

h1 .containerMain {
    color: var(--primaryBrand);
    text-align: center;
    width: 600px;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
}